.header-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: darkgrey;
    align-items: center; /* Vertically centers the child elements */
    justify-content: center; /* Horizontally centers the child elements */
    font-family: calibri;
    font-size: 30px;
}
.header-column{
    flex: 1;
    margin: 0 15px;
}
.header-column h3{
    margin-top: 0;
}
.header-bottom{
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    //background-color: #e9ecef;
    //color: #000000;
}

.header-column img{
    width: 175px;
    height: auto;
    border: solid 15px;
    border-color: darkred;
}
.header-column ul{
    list-style: none;  /* Removes bullet points */
    padding: 0;
    margin: 0;
    display: flex; /* Allows items to be displayed in a row */
}
.header-column ul li{
    border: 1px solid #ccc; /* Adds a border around each item */
    padding: 10px; /* Adds space inside the box */
    margin-right: 0px; /* Adds space between boxes */
    background-color: #f9f9f9; /* Adds a background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for depth */
}
.header-column ul li a{
    color: black;
    text-decoration: none;
}
.searchBar{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.searchButton{
    height: 40px;
}