<header>
    <!-- <p>&copy; 2024 My Angular App</p> -->
    <div class="header-container">
        <div class="header-column">
            <a href="/">
            <img src="assets/logo.jpg" alt="Logo">
            </a>
        </div>
        <div class="header-column">
            <ul>
                <li><a href="/">home </a></li>
                <li><a href="/search-page">search </a></li>
                <li><a href="/about-us">about us</a></li>
            </ul>
        </div>
        <div class="header-column">
            <form (ngSubmit)="Search()" #contactForm="ngForm">
                <input type ="text" id="search" class="form-control" name="search" ngModel required
                placeholder="Search"/>
                <button type="button" class="btn btn-primary" 
                    onclick="window.location.href='/search-page';">Search</button>
            </form>
        </div>
    </div>
</header>