<div class="about-us">
    <!-- <p>&copy; 2024 My Angular App</p> -->
    <div class="about-us-container">
        
        <div class="about-us-column">
            <h3>Contact us</h3>
                <p><a href="/"></a>Home</p>
                <p><a href="/about"></a>About Us</p>
                <p><a href="/search-page"></a>Search for your favorite books</p>
        </div>
        <div class="about-us-column">
            <h3>About Us</h3>
            <p>Welcome to our local library, a community hub where knowledge, creativity, 
            and learning come together. We are dedicated to providing a welcoming and 
            inclusive environment for all, offering a diverse collection of books, digital 
            resources, and programs for people of all ages. Whether you're looking to 
            explore new interests, connect with others, or simply find a quiet place to 
            read, our library is here to support your journey. Our friendly staff is always
             ready to assist you, ensuring that your experience is enriching and enjoyable. 
             Join us in fostering a love for reading and lifelong learning in our community.</p>
        </div>
        <div class="about-us-column">
            <img src="assets/logo.jpg" alt="Logo">
        </div>
    </div>
</div>
