<div class="about-us">
    <!-- <p>&copy; 2024 My Angular App</p> -->
    <div class="about-us-container">
        
        <div class="about-us-form">
            <h3 class="contactus-header">Contact us</h3>
            <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
                <div class="form-group">
                    <!-- <label for="name">Name:</label> -->
                    <input type ="text" id="name" class="form-control" name="name" ngModel required
                    placeholder="Name"/>
                </div>
                <div class="form-group">
                    <!-- <label for="email">Email:</label> -->
                    <input type="email" id="email" class="form-control" name="name" ngModel required
                    placeholder="Email"/>
                </div>
                <div class="form-group">
                   <!-- <label for="message">Message:</label> -->
                    <textarea id="message" class="form-control" name="message" ngModel required
                    placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
        <div class="about-us-column">
            <h3>About Us</h3>
            <p>chatgpt filler text:Welcome to our local library, a community hub where knowledge, 
            creativity, 
            and learning come together. We are dedicated to providing a welcoming and 
            inclusive environment for all, offering a diverse collection of books, digital 
            resources, and programs for people of all ages. Whether you're looking to 
            explore new interests, connect with others, or simply find a quiet place to 
            read, our library is here to support your journey. Our friendly staff is always
             ready to assist you, ensuring that your experience is enriching and enjoyable. 
             Join us in fostering a love for reading and lifelong learning in our community.</p>
        </div>
        <div class="about-us-image">
            <h3></h3>
            <img src="assets/BuildingPic.jpg" alt="library building">
        </div>
    </div>
</div>
