.about-us-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
   // background-color: #f1f1f1;
}
.about-us-column{
    flex: 1;
    margin: 0 15px;
}
.about-us-column h3{
    margin-top: 0;
}
.about-us-column img{
    width: 175px;
    height: auto;
}