<div class="container">
    <div class="column home1">
        <img src="assets/localevent1.jpg" alt="UpcomingEvents1" class="event1pic"/>
        <div class="event2and3pics">
            <img src="assets/localevent2.jpg" alt="UpcomingEvents1" class="event2pic"/>
            <img src="assets/localevent3.jpg" alt="UpcomingEvents1" class="event3pic"/>
        </div>
    </div>
    <div class="column text-column1">
        <h1>Upcoming Events!</h1>
            <p>Creative writing workshop next Saturday at the library!</p>
            <p>Summer reading program starts soon—fun and prizes for all!</p>
            <p>Join our community book swap event at the library!</p>
    </div>
</div>
<div class="container">
    
    <div class="column text-column2">
        <h1>About Us</h1>
        <p>The local library is a community hub offering a vast collection of books, 
            digital resources, and educational programs. We are dedicated to fostering a love 
            for reading, lifelong learning, and connection in a welcoming space for all.</p>
    </div>
    <div class="column home2">
        <a href="/about-us">
            <img src="assets/BuildingPic.jpg" alt="libraryBuilding" class="BuildingPic"/>
        </a>
    </div>
</div>