<div class="container">
    <div class="sidebar">
        <section>
            <input type="checkbox" id="books" name="books" value="Books" checked>
            <label for="books">Books</label>
        </section>
        <section>
            <input type="checkbox" id="movies" name="movies" value="Movies" checked>
            <label for="movies">Movies</label>
        </section>
        <section>
            <input type="checkbox" id="music" name="music" value="Music" checked>
            <label for="music">Music</label>
        </section>
        <p>
        <label for="numOfPages">Number of Pages:</label><br>
        1 <input type="range" min="1" max="10000" value="1000" class="slider" id="numOfPages">
         10,000</p>
        
    </div>
</div>