.container{
    position: relative; /* Establishes a containing block for absolute positioning */
    min-height: 100vh; /* Ensures container spans at least the height of the viewport */
    display: flex;
    flex-direction: column;
}
.sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    background-color: lightblue;
    color: #333;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
}
input[type="range"] {
    width:150px;
  }
.datePublished{
    display: flex;
}