.container{
    position: relative; /* Establishes a containing block for absolute positioning */
    min-height: 100vh; /* Ensures container spans at least the height of the viewport */
    display: flex;
    flex-direction: row;
    font-family: calibri;
}
.sidebar{
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    background-color: slategrey;
    color: #333;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
}
input[type="range"] {
    width:150px;
  }
.datePublished{
    display: flex;
}
input[type="number"]{
    width: 100px;
}
.book-column{
    flex: 1; /* Allows the book-column to take up the remaining space */
    padding: 15px;
    box-sizing: border-box;
}
.book{
    background-color: lightgrey;
    height: 200px;
    display: flex;
    margin: 10px;
}
.bookImgColumn{
    //background-color: green; //for debugging
    height: 100%;
    width: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.bookimg{
    width: 100px;
    height: auto;
    
}
.book-options{
    //background-color: green;
    justify-content: flex-end;
    margin-left: auto;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.dropbtn {
    background-color: darkred;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
  }
  
  .dropdown:hover .dropbtn {background-color: rgb(188, 2, 2);}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .placeHoldButton{
    background-color: rgb(160, 2, 2);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 126.03px;
  }
  .BookSum{
    //background-color: blue;
    text-align: justify;
    flex: 2;
    
  }
  .book-info{
    //background-color: yellow;
    position: relative;
    padding: 30px;
    text-align: justify;
    
  }
  h3{
    font-size: 20px;
  }